[Unit]
Description=%container-name% Container
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=%container-name%
AutoUpdate=local
Image=%dbimage%
Environment=POSTGRES_PASSWORD=mypassword
Volume=postgres-data:/var/lib/postgresql/data
Volume=postgres-logs:/var/log/postgresql
Volume=/home/postgres/postgresql.conf:/etc/postgresql/postgresql.conf
PublishPort=127.0.0.1:5432:5432
Exec=-c "config_file=/etc/postgresql/postgresql.conf"

[Service]
Restart=always

[Install]
WantedBy=default.target
